.container {
	max-width:1230px;
	margin:0 auto;
	position:relative;
	margin-top:0;
	padding:0 30px;
}

.left {
	float: left;
}
.right {
	float: right;
}

* {
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;  
  background: $colorPrimary;
  color: $textLight;
  // overflow:hidden;
}
#root {
	height:100%;
}